language: node_js
node_js:
- 'v14.16.0'
before_install:
- npm install -g @angular/cli
install: npm install
branches:
  only:
  - main
  - master
deploy:
  provider: heroku
  app: game-storing-website
  api_key:
    secure: LZJUXQRJqmZ3AoJeZGpzJWUxg97bwgPdLJUSXNDsT4HO0Ya0T06jAFAJheMkevbNHtzNX5VeQYR1p3tY2tlwRDsNTYuTz8H893RWiwMfbbzrEMiM8kk/nuraRb01FLcfm8giATLBIVRobMkYlPT8AstRkbCXf/2bhkigdJm+C6TF9oAAJKHsbxXKrYzV6tzExsZZbB1ciAcxFse5VBd2uer6edZIjZ9NW3qynM3XPt/wCUxOvZRmVPE9O5j/XoKjj6Xo4K203oGuB6tHd/DT/k0JOApj5+wRZOtofN80qV4J1QWfOVdo+ySH46EjSt3SCqPlhQasrX8GcX22FADVU8C8hjzwadmhDxxjjF9A03O4OmWbyqHp4708oVTRUSDR+IKSZDpd5UH84Sywlb6an+8H8gpgOx5kyBuvbFmzLkp6puTOGB2YGVcsnOk2Qc+JIDKfVvdHyTIvcbNOPn99snxNcHRWlMmc5vFkH8cREbdKukPh7gR1pxcmH5vjnYv9mlULFfIHln0WGlworR85pHCtJmW0qEzfVZ3qrH2SBNTVqL7Xc5xLJWrgjiVr3VpbQKt3u6p/Usonaj2adY5baIF/CrMSl1rgDXv3j1Jm5pT6J+8CKni/7jjy5vpR7XTn1k29k7rR5/zUpfgdCCfOFewmcST47O7Mx1WhY3u7s1w=
